.ads-trees-donate-section-1,
.ads-trees-donate-section-1 * {
  box-sizing: border-box;
}
.ads-trees-donate-section-1 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-donate-section-1 .body {
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.ads-trees-donate-section-1 .stepper {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .step-1 {
  padding: 1px 5px 1px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 398px;
  position: relative;
}
.ads-trees-donate-section-1 .active-line {
  background: var(--stepper-green, #9dffce);
  flex-shrink: 0;
  width: 71px;
  height: 2px;
  position: absolute;
  left: 104px;
  top: 11px;
}
.ads-trees-donate-section-1 .inactive-line {
  background: var(--grey-intermediate, #d9d9d9);
  flex-shrink: 0;
  width: 90px;
  height: 2px;
  position: absolute;
  left: 196px;
  top: 11px;
}
.ads-trees-donate-section-1 .steps {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .step-1-1-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .step-icon-base {
  background: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-radius: 10.83px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .content {
  /* background: var(--grey-light, rgba(168, 177, 174, 0.1)); */
  border-radius: 10.83px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .bbackground {
  background: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-radius: 50%;
  flex-shrink: 0;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  left: -6px;
  top: -6px;
}
.ads-trees-donate-section-1 .dot {
  background: var(--stepper-green, #9dffce);
  border-radius: 50%;
  flex-shrink: 0;
  width: 7.22px;
  height: 7.22px;
  position: relative;
}
.ads-trees-donate-section-1 .step-icon-wording {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .welcome {
  color: var(--stepper-green, #9dffce);
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-1 .step-1-2-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .step-icon-base2 {
  background: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-radius: 10.83px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ads-trees-donate-section-1 .content2 {
  border-radius: 10.83px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .dot2 {
  background: var(--grey-dark, #f1f0f3);
  border-radius: 50%;
  flex-shrink: 0;
  width: 7.22px;
  height: 7.22px;
  position: relative;
}
.ads-trees-donate-section-1 .step-icon-wording2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .payment {
  /* color: var(--grey-intermediate, #d9d9d9); */
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-1 .step-1-3-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .confirmation {
  /* color: var(--grey-intermediate, #d9d9d9); */
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-1 .headline-frame {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .main-title {
  text-align: center;
  font-family: var(--h-1-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-1-font-font-size, 32px);
  font-weight: var(--h-1-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ads-trees-donate-section-1 .subtitle {
  text-align: center;
  font-family: var(--subtitle-font-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--subtitle-font-font-size, 16px);
  font-weight: var(--subtitle-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ads-trees-donate-section-1 .pricing {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .pricing-card {
  background: var(--cards-white, #081c15);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-width: 1px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
  box-shadow: 0px 2px 12px 0px rgba(45, 106, 79, 0.4);
}
.ads-trees-donate-section-1 .pricing-wrapper {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ads-trees-donate-section-1 .content3 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ads-trees-donate-section-1 .card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .card-subheader {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .picto-instance {
  background: var(--green-light, #d0ffd7) !important;
  flex-shrink: 0 !important;
}
.ads-trees-donate-section-1 .offer-name {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .title {
  /* color: var(--grey-dark, #f1f0f3); */
  text-align: left;
  font-family: var(
    --donate-card-type-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-card-type-font-font-size, 18px);
  font-weight: var(--donate-card-type-font-font-weight, 500);
  position: relative;
}
.ads-trees-donate-section-1 .offer-description {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .tradeoff {
  /* color: var(--cards-main-color, #f4fbf9); */
  text-align: left;
  font-family: var(
    --donate-card-type-subtitle-font-font-family,
    "Roboto-Bold",
    sans-serif
  );
  font-size: var(--donate-card-type-subtitle-font-font-size, 32px);
  font-weight: var(--donate-card-type-subtitle-font-font-weight, 700);
  position: relative;
}
.ads-trees-donate-section-1 .pricing2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .price-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-1 .price {
  /* color: var(--cards-main-color, #f4fbf9); */
  text-align: left;
  font-family: var(--price-tag-font-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--price-tag-font-font-size, 48px);
  font-weight: var(--price-tag-font-font-weight, 700);
  position: relative;
}
.ads-trees-donate-section-1 .button {
  background: var(--cards-main-color, #f4fbf9);
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: var(
    --drop-shadow-buttons-at-box-shadow,
    0px 4px 61px 0px rgba(45, 106, 79, 0.4)
  );
}
.ads-trees-donate-section-1 .children {
  /* color: var(--cards-white, #081c15); */
  text-align: left;
  font-family: var(
    --button-label-font-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--button-label-font-font-size, 18px);
  font-weight: var(--button-label-font-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-donate-section-1 .pricing-card-instance {
  flex-shrink: 0 !important;
}

/* nested override styles */
.ads-trees-donate-section-1 .picto {
  flex-shrink: 0 !important;
}
.ads-trees-donate-section-1 .picto2 {
  flex-shrink: 0 !important;
}
