.adds-trees-dashboard,
.adds-trees-dashboard * {
  box-sizing: border-box;
}
.adds-trees-dashboard {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.adds-trees-dashboard .dashboard-main-frame {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.adds-trees-dashboard .dashboard-body {
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adds-trees-dashboard .client-video-interaction-frame {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  min-width: 224px;
  max-width: 1600px;
  position: relative;
}
.adds-trees-dashboard .video-information-frame {
  display: flex;
  flex-direction: row;
  gap: 1265px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adds-trees-dashboard .video-information-subframe {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.adds-trees-dashboard .video-title {
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  /* padding: 8px 0px 8px 0px; */
}
.adds-trees-dashboard .client-video-interaction-subframe {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.adds-trees-dashboard .video-player-frame {
  align-self: stretch;
  flex-shrink: 0;
  height: 483px;
  position: relative;
}
.adds-trees-dashboard .client-controllers-frame {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(1px);
}
/* TODO: Check this style for background */
.adds-trees-dashboard .progress-instance {
  background: var(--grey-light, rgba(168, 177, 174, 0.1)) !important;
  align-self: stretch !important;
  flex-shrink: 0 !important;
  width: unset !important;
}
.adds-trees-dashboard .client-controllers {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
/* TODO: Check style for all buttons and children */
/* .adds-trees-dashboard .play-button {
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 59px;
  position: relative;
  box-shadow: var(--drop-shadow-buttons-at-box-shadow,  0px 4px 61px 0px rgba(45, 106, 79, 0.40));
} */
.adds-trees-dashboard .children {
  /* color: var(--cards-white, #081c15);
  text-align: left;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
/* .adds-trees-dashboard .next-button {
  background: var(--cards-main-color, #f4fbf9);
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;height: 59px;
  position: relative;
  box-shadow: var(--drop-shadow-buttons-at-box-shadow,  0px 4px 61px 0px rgba(45, 106, 79, 0.40));
} */
.adds-trees-dashboard .right-icon-instance {
  flex-shrink: 0 !important;
  width: 16px !important;
  height: 16px !important;
}
.adds-trees-dashboard .reward-frame {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.adds-trees-dashboard .trees {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.adds-trees-dashboard .reward-label {
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 15.56px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.adds-trees-dashboard .stats-component {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  flex-shrink: 0;
  max-width: 1600px;
  position: relative;
  overflow: hidden;
}
.adds-trees-dashboard .stats-sub-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 300px;
  position: relative;
}
.adds-trees-dashboard .stats-component-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adds-trees-dashboard .stats-component-body-trees-planted {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
/* TODO: Check this style for background */
.adds-trees-dashboard .stats-figure-card-instance {
  background: var(
    --green-dark-transparent,
    rgba(116, 222, 177, 0.1)
  ) !important;
  border-radius: 8px !important;
  justify-content: center !important;
  flex: 1 !important;
  min-width: 220px !important;
  align-self: unset !important;
  flex-shrink: unset !important;
}
.adds-trees-dashboard .stats-component-body-performance {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.adds-trees-dashboard .bonus-sub-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 300px;
  position: relative;
}
.adds-trees-dashboard .bonus-holder-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adds-trees-dashboard .bonus-holder-subframe-1-a {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
/* TODO: Check this style for background */
.adds-trees-dashboard .bonus-card-instance {
  background: var(
    --green-dark-transparent,
    rgba(116, 222, 177, 0.1)
  ) !important;
  flex: 1 !important;
  min-width: 220px !important;
  align-self: unset !important;
  flex-shrink: unset !important;
}
.adds-trees-dashboard .bonus-holder-subframe-1-b {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
