.edit-picture-button {
  margin: 0 0 0 -32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.ellipse {
  background: var(--green-light, #d0ffd7);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--white-pure, #081c15);
  border-width: 2px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.edit-icon {
  flex-shrink: 0;
  width: 12.52px;
  height: 12.52px;
  position: absolute;
  left: 6px;
  top: 5.74px;
  overflow: visible;
}
