.ads-trees-donate-section-3,
.ads-trees-donate-section-3 * {
  box-sizing: border-box;
}
.ads-trees-donate-section-3 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-donate-section-3 .body {
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow-y: auto;
}
.ads-trees-donate-section-3 .frame-37271 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .stepper {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .step-3 {
  padding: 1px 5px 1px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 398px;
  position: relative;
}
.ads-trees-donate-section-3 .active-line {
  flex-shrink: 0;
  width: 65px;
  height: 2px;
  position: absolute;
  left: 110px;
  top: 11px;
}
.ads-trees-donate-section-3 .active-line2 {
  flex-shrink: 0;
  width: 79px;
  height: 2px;
  position: absolute;
  left: 201.5px;
  top: 11px;
}
.ads-trees-donate-section-3 .steps {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .step-3-1-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .step-icon-base {
  border-radius: 10.83px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .content {
  background: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-radius: 10.83px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .bbackground {
  border-radius: 50%;
  flex-shrink: 0;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  left: 13px;
  top: -6px;
}
.ads-trees-donate-section-3 .dot {
  border-radius: 50%;
  flex-shrink: 0;
  width: 7.22px;
  height: 7.22px;
  position: relative;
}
.ads-trees-donate-section-3 .step-icon-wording {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .welcome {
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-3 .step-3-2-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .bbackground2 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  left: 11px;
  top: -6px;
}
.ads-trees-donate-section-3 .checkout-payment {
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-3 .step-3-3-frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .bbackground3 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  left: 23px;
  top: -6px;
}
.ads-trees-donate-section-3 .success-confirmation {
  text-align: center;
  font-family: var(
    --donate-stepper-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-stepper-font-font-size, 14px);
  font-weight: var(--donate-stepper-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-trees-donate-section-3 .frame-37265 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.ads-trees-donate-section-3 .headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .you-are-awesome {
  text-align: center;
  font-family: var(--h-1-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-1-font-font-size, 32px);
  font-weight: var(--h-1-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ads-trees-donate-section-3 .thank-you-for-your-payment {
  text-align: center;
  font-family: var(--subtitle-font-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--subtitle-font-font-size, 16px);
  font-weight: var(--subtitle-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ads-trees-donate-section-3 .body-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .feedback-frame {
  border-radius: 24.2px;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ads-trees-donate-section-3 .feedback-frame-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .card-mockup {
  border-radius: 8px;
  padding: 1px 41px 1px 41px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ads-trees-donate-section-3 .check-icon {
  border-radius: 60px;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: visible;
}
.ads-trees-donate-section-3 .feedback {
  padding: 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-donate-section-3 .feedback-text {
  text-align: center;
  font-family: var(--subtitle-font-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--subtitle-font-font-size, 16px);
  font-weight: var(--subtitle-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
