.ads-trees-sign-in,
.ads-trees-sign-in * {
  box-sizing: border-box;
}
.ads-trees-sign-in {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-sign-in .sign-in-body {
  padding: 10rem;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.ads-trees-sign-in .home-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  min-width: 288px;
  position: relative;
}
.ads-trees-sign-in .hook-text-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-sign-in .hook-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  padding-top: 5rem;
}
.ads-trees-sign-in .plant-trees-for-free {
  text-align: left;
  font-family: var(--motto-font-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--motto-font-font-size, 24px);
  font-weight: var(--motto-font-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.ads-trees-sign-in .make-the-planet-better {
  text-align: left;
  font-family: var(--motto-font-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--motto-font-font-size, 24px);
  font-weight: var(--motto-font-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.ads-trees-sign-in .sign-in-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-width: 288px;
  max-width: 480px;
  position: relative;
}
.ads-trees-sign-in .sign-in-form-holder {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  min-width: 288px;
  max-width: 480px;
}
.ads-trees-sign-in .sign-in-title {
  text-align: left;
  font-family: var(--h-1-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-1-font-font-size, 32px);
  font-weight: var(--h-1-font-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ads-trees-sign-in .sign-in-input-holder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-sign-in .input-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-sign-in .input {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  position: relative;
}
.ads-trees-sign-in .email {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-sign-in .email {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-sign-in .password {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ads-trees-sign-in .button {
  background: var(--cards-main-color, #f4fbf9);
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: var(
    --drop-shadow-buttons-at-box-shadow,
    0px 4px 61px 0px rgba(45, 106, 79, 0.4)
  );
}
.ads-trees-sign-in .children {
  text-align: left;
  font-family: var(
    --button-label-font-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--button-label-font-font-size, 18px);
  font-weight: var(--button-label-font-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-sign-in .call-to-register {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-sign-in .error {
  text-align: left;
  font-family: var(
    --small-body-font-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--small-body-font-font-size, 14px);
  font-weight: var(--small-body-font-font-weight, 400);
  position: relative;
}
.ads-trees-sign-in .instruction {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-sign-in .instruction-text {
  text-align: left;
  font-family: var(
    --small-body-font-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--small-body-font-font-size, 14px);
  font-weight: var(--small-body-font-font-weight, 400);
  position: relative;
}
.ads-trees-sign-in .link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ads-trees-sign-in .register-here-link {
  text-align: left;
  font-family: var(
    --link-medium-font-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--link-medium-font-font-size, 16px);
  font-weight: var(--link-medium-font-font-weight, 600);
  position: relative;
}
