.pricing-card,
.pricing-card * {
  box-sizing: border-box;
}
.pricing-card {
  background: var(--cards-white, #081c15);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--grey-light, rgba(168, 177, 174, 0.1));
  border-width: 1px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 288px;
  position: relative;
  box-shadow: 0px 2px 12px 0px rgba(45, 106, 79, 0.4);
}
.pricing-card .pricing-wrapper {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pricing-card .content {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pricing-card .card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .card-subheader {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .picto-instance {
  background: var(--green-light, #d0ffd7) !important;
  flex-shrink: 0 !important;
}
.pricing-card .offer-name {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .title {
  text-align: left;
  font-family: var(
    --donate-card-type-font-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--donate-card-type-font-font-size, 18px);
  font-weight: var(--donate-card-type-font-font-weight, 500);
  position: relative;
}
.pricing-card .offer-description {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .tradeoff {
  text-align: left;
  font-family: var(
    --donate-card-type-subtitle-font-font-family,
    "Roboto-Bold",
    sans-serif
  );
  font-size: var(--donate-card-type-subtitle-font-font-size, 32px);
  font-weight: var(--donate-card-type-subtitle-font-font-weight, 700);
  position: relative;
}
.pricing-card .pricing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .price-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-card .price {
  text-align: left;
  font-family: var(--price-tag-font-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--price-tag-font-font-size, 48px);
  font-weight: var(--price-tag-font-font-weight, 700);
  position: relative;
}
.pricing-card .button {
  background: var(--cards-main-color, #f4fbf9);
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: var(
    --drop-shadow-buttons-at-box-shadow,
    0px 4px 61px 0px rgba(45, 106, 79, 0.4)
  );
}
.pricing-card .children {
  text-align: left;
  font-family: var(
    --button-label-font-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--button-label-font-font-size, 18px);
  font-weight: var(--button-label-font-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
