.stats-figure-card,
.stats-figure-card * {
  box-sizing: border-box;
}
.stats-figure-card {
  background: var(--cards-white, #081c15);
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 160px;
  position: relative;
}
.stats-figure-card .data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.stats-figure-card .stat-title {
  color: var(--cards-main-color, #f4fbf9);
  text-align: left;
  font-family: var(--stats-label-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--stats-label-font-size, 14px);
  font-weight: var(--stats-label-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stats-figure-card .stat-figure {
  color: var(--cards-main-color, #f4fbf9);
  text-align: left;
  font-family: var(--stats-figure-font-family, "Roboto-SemiBold", sans-serif);
  font-size: var(--stats-figure-font-size, 24px);
  font-weight: var(--stats-figure-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
