.ads-trees-profile,
.ads-trees-profile * {
  box-sizing: border-box;
}
.ads-trees-profile {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-profile .profile-body {
  padding: 48px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .profile-sub-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 640px;
  position: relative;
}
.ads-trees-profile .profile-header {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .profile-header-intro {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-width: 199px;
  position: relative;
}
.ads-trees-profile .profile-summary-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.ads-trees-profile .profile-summary {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ads-trees-profile .user-name {
  text-align: left;
  font-family: var(--h-1-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-1-font-font-size, 32px);
  font-weight: var(--h-1-font-font-weight, 400);
  position: relative;
}
.ads-trees-profile .user-motto {
  text-align: left;
  font-family: var(--body-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--body-font-font-size, 18px);
  font-weight: var(--body-font-font-weight, 400);
  position: relative;
}
.ads-trees-profile .profile-header-controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .theme-link-frame {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .theme-link {
  text-align: left;
  font-family: var(--link-small-font-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--link-small-font-font-size, 14px);
  font-weight: var(--link-small-font-font-weight, 500);
  position: relative;
}
.ads-trees-profile .contact-us-link-frame {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .contact-us-link {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .log-out-link {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .profile-body2 {
  padding: 64px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .public-profile-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .public-profile-title {
  text-align: left;
  font-family: var(--h-2-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-2-font-font-size, 24px);
  font-weight: var(--h-2-font-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .public-profile-name-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .public-profile-first-name-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.ads-trees-profile .field-title-label {
  text-align: left;
  font-family: var(
    --text-field-input-label-font-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--text-field-input-label-font-font-size, 14px);
  font-weight: var(--text-field-input-label-font-font-weight, 500);
  position: relative;
}
.ads-trees-profile .input-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  position: relative;
}
.ads-trees-profile .first-name {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .public-profile-last-name-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.ads-trees-profile .last-name {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .public-profile-baseline-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .baseline {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .private-profile-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .private-profile-title {
  text-align: left;
  font-family: var(--h-2-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-2-font-font-size, 24px);
  font-weight: var(--h-2-font-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .private-profile-email-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .field-title-label2 {
  text-align: left;
  font-family: var(
    --text-field-input-label-font-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--text-field-input-label-font-font-size, 14px);
  font-weight: var(--text-field-input-label-font-font-weight, 500);
  position: relative;
}
.ads-trees-profile .email {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .private-profile-content-preference-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .component-title-label {
  text-align: left;
  font-family: var(
    --text-field-input-label-font-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--text-field-input-label-font-font-size, 14px);
  font-weight: var(--text-field-input-label-font-font-weight, 500);
  position: relative;
}
.ads-trees-profile .checkboxes-input-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .health-and-fitness {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance {
  flex-shrink: 0 !important;
}
.ads-trees-profile .children {
  text-align: left;
  font-family: var(
    --small-body-font-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--small-body-font-font-size, 14px);
  font-weight: var(--small-body-font-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .technology {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance2 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .fashion-and-beauty {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance3 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .home-and-garden {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance4 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .travel-and-tourism {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance5 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .food-and-beverages {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance6 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .financial-services {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance7 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .education-and-learning {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance8 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .entertainment-and-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance9 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .automotive-industry {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .control-instance10 {
  flex-shrink: 0 !important;
}
.ads-trees-profile .password-edit-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .password-edit-profile-title {
  text-align: left;
  font-family: var(--h-2-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-2-font-font-size, 24px);
  font-weight: var(--h-2-font-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .password-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .password {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.password-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.password-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.ads-trees-profile .new-password-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .new-password {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-password-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.new-password-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.ads-trees-profile .password-confirmation-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .password-confirmation {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.password-confirmation-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.password-confirmation-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.ads-trees-profile .profile-main-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-profile .children2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-profile .delete-account-button {
  /* background: var(--red-500, #e53e3e); */
  background: var(--red-500, #7d0a0a);
  border-radius: 6px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: 0px 0px 3px 3px rgba(94, 26, 3, 0.4);
}
.ads-trees-profile .children3 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --button-label-font-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--button-label-font-font-size, 18px);
  font-weight: var(--button-label-font-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
