.target-logout-status-active,
.target-logout-status-active * {
  box-sizing: border-box;
}
.target-logout-status-active {
  border-radius: 21px;
  border-style: solid;
  border-width: 1px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.target-logout-status-active .logout-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.target-logout-status-active .logout {
  text-align: left;
  font-family: var(--menu-item-font-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--menu-item-font-font-size, 14px);
  font-weight: var(--menu-item-font-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
