.progress-size-xs-color-scheme-green,
.progress-size-xs-color-scheme-green * {
  box-sizing: border-box;
}
.progress-size-xs-color-scheme-green {
  background: var(--gray-100, #edf2f7);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 320px;
  position: relative;
}
.progress-size-xs-color-scheme-green .inner {
  background: var(--green-500, #38a169);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: absolute;
  right: 42.81%;
  left: 0%;
  width: 57.19%;
  top: 0px;
}
.progress-size-xs-color-scheme-green .stripe-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
  height: 4px !important;
}
