.bonus-card,
.bonus-card * {
  box-sizing: border-box;
}
.bonus-card {
  background: var(--grey-light, #f7f9fb);
  border-radius: var(--12, 12px);
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: row;
  gap: var(--8, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 240px;
  position: relative;
}
.bonus-card .bonus-card-body {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 56px;
  position: relative;
}
.bonus-card .bonus-card-icon-frame {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bonus-card .bonus-card-icon {
  flex-shrink: 0;
  width: 16px;
  height: 15.24px;
  position: relative;
  overflow: visible;
}
.bonus-card .bonus-card-sub-body {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.bonus-card .bonus-card-title {
  color: var(--green-dark, #081c15);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bonus-card .bonus-card-info {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bonus-card .user-progress {
  color: var(--green-dark, #081c15);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.bonus-card .bonus-reward-frame {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bonus-card .trees {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.bonus-card .reward {
  color: var(--green-dark, #081c15);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
