.stats-component,
.stats-component * {
  box-sizing: border-box;
}
.stats-component {
  padding: 0px 0px var(--16, 16px) 0px;
  display: flex;
  flex-direction: column;
  gap: var(--16, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 300px;
  position: relative;
  overflow: hidden;
}
.stats-component .stats-component2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stats-component .stats-component-header-instance {
  width: 784px !important;
  align-self: unset !important;
}
.stats-component .stats-component-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stats-component .stats-component-body-trees-planted {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.stats-component .stats-figure-card-instance {
  flex: 1 !important;
  align-self: unset !important;
  flex-shrink: unset !important;
}
.stats-component .stats-component-body-performance {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.stats-component .frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stats-component .frame-3365 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
