.ads-trees-contact-us,
.ads-trees-contact-us * {
  box-sizing: border-box;
}
.ads-trees-contact-us {
  padding: 0px 16px 0px 16px;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-contact-us .contact-us-body {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .contact-us-sub-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 640px;
  position: relative;
}
.ads-trees-contact-us .contact-us-title-frame {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .contact-us-title {
  text-align: left;
  font-family: var(--h-1-font-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--h-1-font-font-size, 32px);
  font-weight: var(--h-1-font-font-weight, 400);
  position: relative;
}
.ads-trees-contact-us .message-frame {
  padding: 64px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .client-contact-input-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 2rem;
}
.ads-trees-contact-us .contact-us-name-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .contact-us-first-name-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.ads-trees-contact-us .field-title-label {
  text-align: left;
  font-family: var(
    --text-field-input-label-font-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--text-field-input-label-font-font-size, 14px);
  font-weight: var(--text-field-input-label-font-font-weight, 500);
  position: relative;
}
.ads-trees-contact-us .input-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .input {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  position: relative;
}
.ads-trees-contact-us .first-name {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-contact-us .contact-us-last-name-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.ads-trees-contact-us .last-name {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-contact-us .contact-us-email-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .email {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-contact-us .contact-us-message-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ads-trees-contact-us .input-group2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
}
.ads-trees-contact-us .input2 {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ads-trees-contact-us .message {
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 6rem;
  min-height: 8rem;
}
.ads-trees-contact-us .children {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ads-trees-contact-us .error {
  text-align: left;
  font-family: var(
    --small-body-font-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--small-body-font-font-size, 14px);
  font-weight: var(--small-body-font-font-weight, 400);
  position: relative;
}
